<div>
    <select id="songType"
            ng-model="songType"
            ng-change="listSongs(songType)"
            ng-options="id as opt.name group by rankName(opt.ranktype) for (id, opt) in songOptions">
    </select>
</div>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>歌曲名称</th>
            <th>时长(分钟)</th>
            <th>大小(兆字节)</th>
        </tr>
        <tr ng-repeat="song in songs">
            <td><a href="#/songs/{{ song.hash }}">{{ song.filename }}</a></td>
            <td>{{ song.duration / 60 | currency:"" }}</td>
            <td>{{ song.filesize / 1024 / 1024 | currency:"" }}</td>
        </tr>
    </table>
</div>
