<div>
    <select ng-model="songType">
        <option value="hit" selected="selected">中国</option>
        <option value="hk">香港</option>
        <option value="tw">台湾</option>
        <option value="us">美国</option>
        <option value="uk">英国</option>
        <option value="jp">日本</option>
    </select>
    <a href="#/hotsong/{{ songType }}">GO</a>
</div>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>歌曲名称</th>
            <th>时长(分钟)</th>
            <th>大小(兆字节)</th>
        </tr>
        <tr ng-repeat="song in songs">
            <td><a href="#/songs/{{ song.hash }}">{{ song.filename }}</a></td>
            <td>{{ song.duration / 60 | currency:"" }}</td>
            <td>{{ song.filesize / 1024 / 1024 | currency:"" }}</td>
        </tr>
    </table>
</div>
